<div class="float-right pr-15 text-black cursor-pointer active:text-gray-300">
    <lucide-angular [img]="filterIcon" (click)="onOpenFilter()" />
</div>
@if(productSerivce.productPageState().isFilterOveryalyShown){
    <div class="w-100  bg-gray-300 absolute z-200 right-0 h-full">
            
            <h2 class="w-h text-center pb-10 mt-2">Filter By : 
                <lucide-angular (click)="onCloseFilter()" class="float-right mr-1 p1" [img]="xIcon" /></h2>
            <hr>
            <h3 class="w-h text-center pb-4">Category</h3>
            <div class="flex flex-row flex-wrap cursor-pointer">
                @for(category of categoriesService.categories();track category){
                    <div class="rounded-3xl border-2 border-amber-600 w-fit pr-10 pl-10 mr-5 ml-5 mt-1 mb-1" 
                    [ngClass]="productSerivce.productPageState().appliedFilter.categories.includes(category) ? 'bg-amber-400 text-white' : 'hover:border-3'"
                    (click)="onCategoryClicked(category)">{{category.displayName}}</div>
                }
            </div>
            <br>
            <hr>
            <h3 class="w-h text-center pb-4">Rating</h3>
            <div>
                <div><input class="w-fit" type="number" placeholder="eg 1"  min=1 max=5 [(ngModel)]="minRatingInput" (ngModelChange)="omMinRatingChanged($event)" [value]="minRatingInput"></div>
                <div><input type="number" placeholder="eg 5"></div>
            </div>

            <br>
            <hr>
            <h3 class="w-h text-center pb-4">Price</h3>
            <div>
                <div><input type="number" placeholder="eg 10"></div>
                <div><input type="number" placeholder="eg 100"></div>
            </div>
    </div>
}
